{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Create Encounter</title>
    <link href="{% static 'style.css' %}" rel="stylesheet">
</head>
<body>
    <div style="display: flex;">
        <!-- Image Display -->
        <div class="image-container">
            <img src="{% static 'images/map1.png' %}" alt="Map Image" />
        </div>

        <!-- Encounter Creation Form -->
        <div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>
