{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Create Encounter</title>
</head>
<body>
    <div style="display: flex;">
        <!-- Image Display -->
        <div>
            <img src="{% static 'images/map1.png' %}" alt="Image" />
        </div>

        <!-- Encounter Creation Form -->
        <div>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>
